<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 mainContainer">
      <div class="col-md-4 leftContainer">
        <div class="text-center mb-4">
          <img class="mb-4" src="assets/logo.png" alt="logo" width="72"
            height="72">
          <h1 class="h3 mb-3 font-weight-normal">NEBULA</h1>
          <ul>
            <li>
              From FAQ to Bot in minutes
            </li>
            <li>
              Create bot dialogue as easily as copy pasting 
            </li>
            <li>
              Get started with a Bot without single line of Code
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-8 rightContainer">
        <form class="form-signin">
          <div class="mb-4">
            <ul class="login-register">
              <li [class.active]="login" (click)="login_signup(true)">
                Login
              </li>
              <li>/</li>
              <li [class.active]="!login" (click)="login_signup(false)">Signup</li>
            </ul>
          </div>

          <div class="form-label-group">
            <input type="email" [(ngModel)]="email" name = "email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputEmail">Email address</label>
          </div>

          <div class="form-label-group">
            <input type="password" [(ngModel)]="password" name = "password" id="inputPassword" class="form-control" placeholder="Password" required>
            <label for="inputPassword">Password</label>
          </div>
          <button class="btn btn-lg btn-primary btn-block btnPrime" *ngIf="login" (click)="userLogin()">Log in</button>
          <button class="btn btn-lg btn-primary btn-block" *ngIf="!login" (click)="gotoDashboard()">Signup</button>
        </form>
      </div>
    </div>
  </div>
</div>
