<div class = "wrapper">
  <div class= "mainPanel">
    <div class = "gradientBand"></div>
    <nav class="navbar">
      <span class="navbar-brand">NEBULA</span>
      <div class="" id="navigation">
        <ul class="navbar-nav ml-auto">
          
          <!-- <li>
            <span>himanshu.kumar@newgen.co.in</span>
          </li> -->
          <li class="dropdown nav-item">
            <a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">
              <div class="photo">
                HK
              </div>
              <!-- <b class="caret d-none d-lg-block d-xl-block"></b> -->
              <p class="d-lg-none">
                Log out
              </p>
            </a>
            <ul class="dropdown-menu dropdown-navbar">
              <li class="nav-link">
                <a href="javascript:void(0)" class="nav-item dropdown-item">Profile</a>
              </li>
              <li class="nav-link">
                <a href="javascript:void(0)" class="nav-item dropdown-item">Settings</a>
              </li>
              <li class="dropdown-divider"></li>
              <li class="nav-link">
                <a href="javascript:void(0)" class="nav-item dropdown-item">Log out</a>
              </li>
            </ul>
          </li>
          <li class="separator d-lg-none"></li>
        </ul>
      </div>  
    </nav>
    <div class = "content dashboardContainer">
      <div class = "configureBotSection">
        <div class = "banner">
            <h5>Let's go through few steps to configure your bot.</h5>
        </div>
        <div class="steps">
          <ul>
            <li class="completed">
              <span>1</span>
              <p>Name</p>
            </li>
            <li>
              <span>2</span>
              <p>Settings</p>
            </li>
            <li>
                <span>3</span>
                <p>Summary</p>
            </li>
          </ul>
        </div>
        <div class="card stepsContainer">
          <div class = "step1">
            
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
