<div class = "wrapper">
  <div class= "mainPanel">
    <div class = "gradientBand"></div>
    <nav class="navbar">
      <span class="navbar-brand">NEBULA</span>
      <div class="" id="navigation">
        <ul class="navbar-nav ml-auto">
          
          <!-- <li>
            <span>himanshu.kumar@newgen.co.in</span>
          </li> -->
          <li class="dropdown nav-item">
            <a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">
              <div class="photo">
                HK
              </div>
              <!-- <b class="caret d-none d-lg-block d-xl-block"></b> -->
              <!-- <p class="d-lg-none">
                Log out
              </p> -->
            </a>
            <ul class="dropdown-menu dropdown-navbar">
              <!-- <li class="nav-link">
                <a href="javascript:void(0)" class="nav-item dropdown-item">Profile</a>
              </li>
              <li class="nav-link">
                <a href="javascript:void(0)" class="nav-item dropdown-item">Settings</a>
              </li> -->
              <!-- <li class="dropdown-divider"></li> -->
              <li class="nav-link">
                <a routerLink="/" href="javascript:void(0)" class="nav-item dropdown-item">Log out</a>
              </li>
            </ul>
          </li>
          <li class="separator d-lg-none"></li>
        </ul>
      </div>  
    </nav>
    <div class = "content dashboardContainer">
      <div class = "configureBotSection">
        <div class = "banner">
            <h5>Let's go through few steps to configure your bot.</h5>
        </div>
        <div class="steps">
          <ul>
            <li (click)="changeStep(1)" [class.completed]="currentStep == 1">
              <span>1</span>
              <p>Name</p>
            </li>
            <li (click)="changeStep(2)" [class.completed]="currentStep == 2">
              <span>2</span>
              <p>Settings</p>
            </li>
            <li (click)="changeStep(3)" [class.completed]="currentStep == 3">
                <span>3</span>
                <p>Export</p>
            </li>
          </ul>
        </div>
        <div class="card stepsContainer">
          <div class="body">
              <div class = "step1" *ngIf="currentStep == 1">
                  <div class = "heading">
                    <span class = "stepNo">1</span><h2>Configure Name</h2>
                  </div>
                  <div class="mainBody">
                    <div class="col-md-12">
                        <form action="#">
                            <div class="form-group">
                              <label>Name your bot</label>
                              <input type="text" class="form-control">
                            </div>
                          </form>
                    </div>
                  </div>
                </div>
              <div class = "step2" *ngIf="currentStep == 2">
                  <div class = "heading">
                    <span class = "stepNo">2</span><h2>Configure your Bot Settings</h2>
                  </div>
                  <div class="mainBody">
                      <div class="col-md-12">
                          <form action="#">
                              <div class="row">
                                  <div class="col-md-8">
                                      <label>Your Knowledge Base URL</label>
                                      <input type="url" class="form-control">
                                  </div>
                                  <div class="col-md-4 middleLine">
                                      <button  (click)="setKB()" class="btn btn-primary finish float-right">Add KB</button>
                                  </div>
                              </div>                  
                              
                              <!-- <div class = "textDiv">
                                <span>Or</span>
                              </div>
                              <div class="form-group">
                                  <label>Upload a CSV File</label>
                                  <div class="upload-btn-wrapper">
                                      <button class="btn" (click)="setKB()">Upload a file</button>
                                      <input type="file" class="form-control">
                                    </div>
                                </div> -->
                            </form>
                      </div>
                  </div>
                </div>
              <div class = "step3" *ngIf="currentStep == 3">
                  <div class = "heading">
                    <span class = "stepNo">3</span><h2>Export Embeddable Chat Bot Code</h2>
                  </div>
                  <div class="mainBody">
                    <div class="col-md-12">
                      <div class="col-md-6 jsSection">
                        <h5>Embed Javascript File</h5>
                        <ol>
                          <li><a href="https://nebulablob.blob.core.windows.net/nebulablobcontainer/nebula-bot.js.zip" download target = "_blank">Download</a> this Javascript file </li>
                          <li>Add the downloaded Javascript file in your application's assest folder</li>
                          <li>Include relative path of this file in your index.html</li>
                          <li>Your chat bot window will appear</li>
                        </ol>
                      </div>
                      <div class="col-md-6 wpSection">
                          <h5>Embed Wordpress Plugin</h5>
                          <ol>
                              <li><a href = "https://nebulablob.blob.core.windows.net/nebulablobcontainer/nebula-the-chatbot.zip" download target = "_blank">Download</a> this Wordpress plugin </li>
                              <li>Add the downloaded plugin to your WordPress site</li>
                              <li>Activate the plugin from your WordPess admin page</li>
                              <li>Your chat bot window will appear</li>
                            </ol>
                      </div>
                    </div>
                  </div>
                </div>

          </div>
          <div class="footer">
              <button class="btn btn-default previous" *ngIf="currentStep > 1" (click)="previousStep()">Previous</button>
              <button class="btn btn-default  finish" *ngIf="currentStep < 3" (click)="nextStep()">Next</button>
              <button class="btn btn-primary next" *ngIf="currentStep == 3" (click)="finish()">Finish</button>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
<iframe id="my_iframe" style="display:none;"></iframe>
