/* You can add global styles to this file, and also import other style files */
$dark1:#383c49;
$dark2: #e4ecff;
$dark3: #4b5062;
$dark4: #7b808c;
$primary: #1d8cf8;
:root {
    --input-padding-x: .75rem;
    --input-padding-y: .75rem;
  }
  html,
body {
  height: 100%;
  font-family: 'Open Sans' !important, sans-serif;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: radial-gradient(#1e1e2f,#1e1e24);
  .btn-primary {
    color: #fff;
    background: linear-gradient(0deg,#ff6491,#ff8d72);
    border-color: #ff6491;
  }
  .btn-primary:hover{
    background: linear-gradient(0deg,#ff6491,#ff8d72);
    border-color: #ff6491;
  }
  a{
      color: $primary;
  }
} 